*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1640px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 17px 77px;
    & .menu{
        display: none;
    }
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    & .title{
        line-height: 96px;
        font: 600 64px Poppins;
        color:  #FFFFFF;
        & span{
            color: #BC8AFC;
        }
    }
    & .header_block{
        display: flex;
        gap:75px;
    }
    & .links{
        display: flex;
        gap:59px;
        align-items: center;
        color: #FFFFFF;
        line-height: 30px;
        font: 400 20px Poppins;
        /* margin-left: 350px; */
    }
    & .sign_in{
        border-radius: 7px;
        box-shadow: 10px 7px 9px 0px #00000040;
        color: #000000;
        line-height: 33px;
        font: 500 22px Poppins;
        background: #bb8afccc;
        align-self:center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 132px;
        height: 58px;
    }
}
main .preview{
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    display: flex;
    align-items: center;
    padding: 116px 77px 0 77px;
    justify-content: space-between;
    padding-bottom: 200px;
    & .left{
        max-width: 631px;
        & h2{
            line-height: 96px;
            font: 600 80px Poppins; 
            color: rgba(255, 255, 255, 1);
        }
        & p {
            line-height: 32px;
            font: 400 20px Poppins; 
            color: rgba(255, 255, 255, 1);
            margin: 32px 0;
        }
    } 
}
main .start_button{
    border-radius: 7px;
    box-shadow: 10px 7px 9px 0px #00000040;
    color: #000000;
    line-height: 33px;
    font: 500 22px Poppins;
    background: #bb8afccc;
    display: flex;
    flex-direction: row;
    width: 212px;
    height: 58px;
    text-align: center;
    & div{
        align-self: center;
        margin-right: 4px;
        margin-left: 25px;
    }
    & img {
        align-self: center;
    }
}
main .statistic{
    background: rgba(255, 255, 255, 1);
    padding: 0 110px;
    margin: 0 auto;
    width: 72%;
    border-radius: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    height: 200px;
    z-index: 2;
    align-items: center;
    /* margin-top: -100px; */
    position: relative;
    /* right: 10px; */
    bottom: 100px;
    & .block{
        & h2{
            color: rgba(31, 38, 46, 1);
            line-height: 72px;
            font: 600 48px Poppins;
            & span{
                color: rgba(188, 138, 252, 1);
            }
        }
        & p{
            color: rgba(31, 38, 46, 1);
            line-height: 30px;
            font: 400 20px Poppins;
        }
    }
}
main .finances{
    display: flex;
    justify-content: space-between;
    padding: 0 77px;
    margin-top: 160px;
    & .left img{
       border-radius: 8px;
    }
    & .right{
        max-width: 611px;
        align-self: center;
        & h2{
            color: rgba(0, 0, 0, 1);
            line-height: 59px;
            font: 600 48px Poppins;
        }
        & p{
            color: rgba(0, 0, 0, 1);
            line-height: 32px;
            font: 400 20px Poppins;
            margin: 16px 0;
        }
    }
}
main .our_service{
    margin-top: 110px;
    padding: 80px;
    background: rgba(28, 146, 255, 0);
    padding-bottom: 300px;
    & h2{
        color: rgba(0, 0, 0, 1);
        line-height: 75px;
        font: 600 48px Poppins;
        margin-bottom: 40px;
    }
    & .wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:170px;
    }
    & .block{
        & h5{
            color:rgba(31, 38, 46, 1);
            line-height: 32px;
            font: 600 20px Poppins;
            margin: 36px 0 12px 0;
        }
        & p{
            color:rgba(0, 0, 0, 1);
            line-height: 32px;
            font: 400 20px Poppins;
        }
    }
}
main .apps{
    background: rgba(25, 4, 34, 1);
    border: 1.02px solid rgba(117, 117, 117, 1);
    display: flex;
    padding: 107px 90px;
    /* width: 100%; */
    justify-content: space-between;
    position: relative;
    & .left{
        width: 50%;
        & h2{
            line-height: 62px;
            font: 600 48px Poppins;
            color: rgba(255, 255, 255, 1);
        }
        & .img{
            display: flex;
            gap:40px;
            margin-top: 62px;
        }
    }
    & .right{
        position: absolute;
        right: 7%;
        bottom: 0;
    }
}
main .benefits {
    display: flex;
    justify-content: space-between;
    margin: 80px 200px 80px 77px;

    & .left {
        border-radius: 8px;
    }

    & .right {
        font: 400 20px Poppins;
        max-width: 522px;
        color: rgba(0, 0, 0, 1);
        
        & h2 {
            font: 600 48px Poppins;
            margin-bottom: 16px;
        }
        
        & ul {
            list-style: none; 
            padding-left: 0;  

            & li {
                margin-top: 20px;
                padding-left: 50px; 
                position: relative; 
                &::before {
                    content: ''; 
                    background-image: url(images/mark.svg); 
                    background-size: contain; 
                    background-repeat: no-repeat; 
                    position: absolute; 
                    left: 0; 
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px; 
                    height: 40px; 
                }
            }
        }
    }
}
main .review{
    background: conic-gradient(from -38.14deg at 72.08% 78.43%, rgba(28, 105, 255, 0) 0deg, #FFFFFF 360deg);
    padding: 41px 103px;
    font: 600 20px Poppins;
    & h4{
        text-align: center;
        margin-bottom: 40px;
    }
    & .arrows{
        display: none;
    }
    & .wrapper{
        display: flex;
        justify-content: space-between;
        
        & .right{
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            margin-left: 46px;
        }
        & .left{
            display: flex;
            align-items: center;
            margin-right: 46px;
        }
        & .center {
            display: flex;
            gap:21px;
            & .block{
                background: rgba(255, 255, 255, 1);
                box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
                padding: 24px;
                border-radius: 28px;
                & p:last-of-type{
                    font-weight: 400;
                    margin-top: 16px;
                    margin-bottom: 24px;
                }
                & .botton{
                    display: flex;
                    & .text{
                        margin-left: 25px;
                        & p:first-of-type{
                            margin-top: 20px;
                            margin-bottom: -10px;
                        }
                    }
                    & img:last-of-type{
                        margin-left: 78px;
                    }
                }
            }
        }
    }
   
}
footer{
    padding: 17px 77px;
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    & .title{
        line-height: 96px;
        font: 600 64px Poppins;
        color:  #FFFFFF;
        margin-top: 72px;
        & span{
            color: #BC8AFC;
        }
    }
    & .links{
        display: flex;
        gap:33px;
        align-items: center;
        color:rgba(255, 255, 255, 1);
        line-height: 30px;
        font: 400 20px Poppins;
        margin-left: 350px;
        margin: 26px 0 41px 0;
    }
    & .media{
        display: flex;
        gap:21px;
        margin-bottom: 71px;
    }
}
@media screen and (max-width:1200px) {
    header {
        & .header_block{
            display: none;
        }
        & .menu{
            display: block;
            align-items: center;
            display: flex;
        }
    }
    main .preview{
        & .left{
            width: 370px;
            & h2{
                font-size: 48px;
            }
            & p{
                font-size: 20px;
            }
        }
        & .right{
            & img{
                width: 347px;
                height: 396px;
            }
        }
    }
    main .finances{
        margin-top: -40px;
        & .left{
            & img{
                width: 268px;
                height: 395px;
            }
        }
        & .right{
            max-width: 367px;
            & h2{
                font-size: 32px;
            }
            & p{
                font-size: 20px;
            }
        }
    }
    main .our_service{
        margin-top: -40px;
    }
    main .benefits{
        margin-right: 50px;
        & .left{
            & img{
                width: 267.13px;
                height: 318.62px;
            }
        }
        & .right{
            width: 365px;
            & h2{
                font-size: 32px;
            }
            & p{
                font-size: 20px;
            }
        }
    }
    main .review
    {
        & .center{
            & .block:last-of-type{
                display: none;
            }
        }
    }
    
}
@media screen and (max-width:1010px) {
    main .preview{
        display: block;
        padding: 10px;
        padding-bottom: 100px;
        & .left{
            margin: 0 auto;
            width: 100%;
            & h2.title{
                font-size: 48px;
            }
            & p{
                font-size: 20px;
            }
        }
        & .right{
          text-align: center;
        }
    }
    main .statistic{
        flex-direction: column;
        height: auto;
        width: 40%;
    }
    main .finances{
        margin-top: 60px;
        padding: 10px;
    }
    main .apps{
        margin: -200px auto 0;
        & .left {
            & .img{
                display: block;
                & img{
                    width: 173px;
                    height: 52px;
                }
            }
        }
        & .right{
            position: absolute;
            right: 5%;
            & img{
                height: 600px;
            }
        }
    }
}
@media screen and (max-width:824px){
    header{
        padding: 10px;
    }
    main .finances{
        display: block;
        margin: 10px;
        padding: 10px;
        & .left{
            text-align: center;
            margin-bottom:60px;
            & img{
                width: 217.19px;
                height: 320.27px;
                margin: 0 auto;
            }
        }
        & .right{
           max-width: 100%;
        }
    }
    main .our_service {
        margin-top: 72px;
        padding: 10px;
        padding-bottom: 300px;
        & .wrapper{
            display: block;
            & .block{
                width: 100%;
            }
        }
    }
    main .apps{
        display: block;
        padding-bottom: 0;
        padding: 10px 10px 0;
        & .left{
            width: auto;
            text-align: center;
            & h2{
                text-align: left;
                font-size: 36px;
            }
            & .img{
                display: flex;
                flex-direction: row;
                text-align: center;
            }
        }
        & .right{
            position: static;
            text-align: center;
            margin-bottom: 0;
            & img{
                height: 400px;
            }
        }
    }
    main .benefits{
        margin: 10px;
        & .left{
            display: none;
        }
        & .right{
            margin: 0 auto;
            width: 100%;
        }
    }
    main .review{
        padding-left: 10px;
        padding-right: 10px;
        & h4{
            text-align: left;
        }
        & .wrapper{
            & .left , .right{
                display: none;
            }
        }
        & .arrows{
            display: flex;
            gap:50px;
            text-align: center;
            width: 50%;
            margin: 20px auto;
            & img{
                width: 40px;
                height: 40px;
                margin: 20px auto;
            }
            & img:last-of-type{
                transform: rotate(180deg);
            }
        }
        & .center {
            order: 1; 
            width: 100%;
            & .botton{
                display: flex;
                position: relative;
                & img:last-of-type{
                    order: 1;
                    position: absolute;
                    left:-78px;
                    top:-20px;
                }
                & img:first-of-type{
                    order: 2;
                }
                & .text{
                    order: 3;
                }
            }
        }
    }
    footer {
        padding: 10px 20px;
        & .title{
            font-size: 40px;
        }
        & .links{
            display: block;
            & p{
                margin-top: 40px;
            }
        }
    }
}